body {
  background-color: #E0E0E0; }

.navbar-expand-lg {
  color: #0072BF !important; }

.nav-link {
  color: #0072BF !important; }

.color-search {
  background: none;
  border-color: #0072BF;
  color: #0072BF; }
  .color-search:active {
    background-color: #0072BF;
    box-shadow: none !important; }
  .color-search:hover {
    background-color: #0072BF !important;
    border-color: #0072BF !important; }

.fa-facebook-square {
  color: blue; }
  .fa-facebook-square:hover {
    background: white; }

.fa-twitter {
  color: #00A4CC; }
  .fa-twitter:hover {
    background: white; }

.fa-spotify {
  color: #9ACC2F; }
  .fa-spotify:hover {
    background: white; }

.fa-instagram {
  color: #CA2267; }
  .fa-instagram:hover {
    background: white; }

h3 {
  color: black; }

h4 {
  color: #0072BF; }

#jj {
  color: red; }

#chat {
  color: white; }

#origen {
  color: gray; }

.title-tip {
  background-color: #82A9BC; }

.carousel-control-next-icon {
  color: red; }

.form-contacto {
  color: red; }

.nav-link {
  font-weight: bold;
  font-size: 15px;
  font-family: "roboto", sans-serif !important;
  font-weight: bold !important; }

.banner-home .quote {
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px;
  font-style: oblique !important; }

h1 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
  font-size: 50px; }
  @media only screen and (max-width: 400px) {
    h1 {
      font-size: 20px; } }

@media only screen and (max-width: 400px) {
  fase2 {
    font-size: 10px; } }

.fa-facebook-square {
  font-size: 30px;
  /* regla para Mobile Styles */ }
  @media only screen and (max-width: 400px) {
    .fa-facebook-square {
      font-size: 20px; } }

.fa-twitter {
  font-size: 30px;
  /* regla para Mobile Styles */ }
  @media only screen and (max-width: 400px) {
    .fa-twitter {
      font-size: 20px; } }

.fa-spotify {
  font-size: 30px;
  /* regla para Mobile Styles */ }
  @media only screen and (max-width: 400px) {
    .fa-spotify {
      font-size: 20px; } }

.fa-instagram {
  font-size: 30px;
  /* regla para Mobile Styles */ }
  @media only screen and (max-width: 400px) {
    .fa-instagram {
      font-size: 20px; } }

h3 {
  font-weight: bold;
  font-family: "roboto", sans-serif !important; }
  @media only screen and (max-width: 400px) {
    h3 {
      font-size: 20px !important; } }

#ver {
  font-weight: bold;
  font-family: "roboto", sans-serif !important; }

h4 {
  font-family: sans-serif;
  font-size: 20px; }

#jj {
  font-size: 20px; }

#formulario {
  font-size: 15px; }

.reset {
  font-size: 11px; }

.submit {
  font-size: 11px; }

.para1 {
  font-weight: bold; }

#chat {
  font-size: 25px;
  /* regla para Mobile Styles */ }
  @media only screen and (max-width: 400px) {
    #chat {
      font-size: 17px; } }

#origen {
  font-size: 15px; }

.title-tip {
  font-size: 20px !important;
  font-weight: bold; }

#tips1 ul {
  font-family: "roboto", sans-serif !important;
  font-size: 15px; }

#tips2 ul {
  font-family: "roboto", sans-serif !important;
  font-size: 15px; }

#tips3 ul {
  font-family: "roboto", sans-serif !important;
  font-size: 15px; }

.form-album {
  font-family: "roboto", sans-serif !important;
  font-weight: bold; }

.form-contacto {
  font-family: "roboto", sans-serif !important; }
  .form-contacto:hover {
    font-weight: bold;
    font-size: 20px; }

.form-tittle {
  font-family: "roboto", sans-serif !important;
  font-weight: bold;
  font-size: 15px; }

.contacto-titulo {
  font-family: "roboto", sans-serif !important;
  font-size: 20px; }

footer {
  font-family: "roboto", sans-serif !important;
  font-weight: bold; }

body {
  width: 100%;
  display: block;
  margin: 0; }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: white;
  border-bottom: solid 1px #CCD3CB;
  margin-top: 10px; }

#redes-sociales {
  text-align: right;
  order: 3;
  flex-basis: 25%; }
  @media only screen and (max-width: 400px) {
    #redes-sociales {
      order: 2;
      flex-basis: 100%;
      text-align: right; } }

#redes {
  float: right;
  display: flex;
  padding-top: 25px;
  margin: 0;
  /* regla para Mobile Styles */ }
  @media only screen and (max-width: 400px) {
    #redes {
      padding-top: 0 !important; } }

.navbar-expand-lg {
  padding-top: 15px; }

.iconguitar {
  height: 80px;
  width: 80px;
  padding-left: 5px;
  padding-top: 2px !important; }

.nav-link {
  text-underline-position: none;
  padding: 8px !important;
  width: 100% !important; }

.busqueda {
  order: 2;
  flex-basis: 35%; }
  @media only screen and (max-width: 400px) {
    .busqueda {
      flex-basis: 100%;
      order: 3; } }

.form-inline {
  display: block;
  padding: 6px;
  margin-top: 50px;
  text-align: center;
  float: left;
  width: 100% !important;
  /* regla para Mobile Styles */ }
  @media only screen and (max-width: 400px) {
    .form-inline {
      margin-top: 0;
      padding-bottom: 10px; } }

.form-control {
  padding: 10px 50px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  width: 70% !important; }
  @media only screen and (max-width: 400px) {
    .form-control {
      width: 8 0% !important;
      z-index: 2;
      padding: 2px; } }

.menu-pink {
  padding-top: 36px;
  /* regla para Mobile Styles */ }
  @media only screen and (max-width: 400px) {
    .menu-pink {
      padding-top: 0;
      width: 100%; } }

.banner-home {
  background-image: url("../jack-johnson-new-song-86739d85-1f17-4127-a162-0cd6d037a975.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: justify;
  min-height: 600px;
  width: 100%; }
  .banner-home .quote {
    padding-left: 255px !important;
    padding-top: 20px !important; }
  @media only screen and (max-width: 400px) {
    .banner-home {
      background-image: url("../jack-johnson-new-song-86739d85-1f17-4127-a162-0cd6d037a975.jpg");
      background-repeat: no-repeat;
      min-height: 40px !important; } }

.frase1 {
  word-spacing: 6px !important; }

.frase2 {
  padding-left: 13px; }

h1 {
  padding-left: 30px !important;
  margin: auto !important;
  padding-top: 80px !important;
  line-height: 30px; }
  @media only screen and (max-width: 400px) {
    h1 {
      padding-top: 30px !important;
      padding-left: 20px !important; } }

.dropdown-hover:hover .submenu {
  display: block; }

.menu-col {
  /* regla para Mobile Styles */ }
  @media only screen and (max-width: 400px) {
    .menu-col {
      justify-content: space-around;
      flex-basis: 100%; } }

#titulo {
  text-align: left; }

video.jj.mp4 {
  height: 100%;
  margin: auto; }

.fa-facebook-square {
  float: left;
  padding: 5px;
  /* regla para Mobile Styles */ }
  .fa-facebook-square:hover {
    transform: scale(1.05, 1.05);
    transition: ease all 100ms; }
  @media only screen and (max-width: 400px) {
    .fa-facebook-square {
      padding: 6px; } }

.fa-twitter {
  float: left;
  padding: 5px;
  /* regla para Mobile Styles */ }
  .fa-twitter:hover {
    transform: scale(1.05, 1.05);
    transition: ease all 100ms;
    background: white; }
  @media only screen and (max-width: 400px) {
    .fa-twitter {
      padding: 6px; } }

.fa-spotify {
  float: left;
  padding: 5px;
  /* regla para Mobile Styles */ }
  .fa-spotify:hover {
    transform: scale(1.05, 1.05);
    transition: ease all 100ms; }
  @media only screen and (max-width: 400px) {
    .fa-spotify {
      padding: 6px; } }

.fa-instagram {
  padding: 5px;
  float: left;
  /* regla para Mobile Styles */ }
  .fa-instagram:hover {
    transform: scale(1.05, 1.05);
    transition: ease all 100ms; }
  @media only screen and (max-width: 400px) {
    .fa-instagram {
      padding: 6px; } }

a {
  text-decoration: none; }

li {
  list-style: none; }

h3 {
  padding-left: 15px !important;
  flex-basis: 50%;
  order: 1;
  margin: 0 !important;
  display: inline-block; }

.titulos {
  border-bottom: solid 2px gray;
  padding-bottom: 10px;
  margin-bottom: 40px;
  margin-top: 60px; }

#ver {
  text-decoration: underline;
  padding-bottom: 10px !important;
  flex-basis: 50%;
  order: 2;
  float: right;
  padding-top: 5px; }

h4 {
  line-height: 20px;
  letter-spacing: 3px; }

#jj {
  padding: 5px;
  width: auto; }

#formulario {
  border: 1px solid gray;
  margin: auto;
  padding-top: 10px;
  margin-top: 100px; }

.formulario-borde {
  width: auto; }

.formulario-mail {
  width: auto !important;
  z-index: 3; }

.form-mail {
  display: inline-block;
  float: left;
  margin-right: 50px; }

@media (min-width: 768px) {
  .col-md-6 {
    max-width: 25%; } }

.para1 {
  float: left;
  padding: 4px; }

#chat {
  position: fixed;
  right: 15px;
  padding: 5px;
  background: #43C554;
  border-radius: 100px;
  padding: 8px;
  padding-bottom: 3px;
  z-index: 999;
  line-height: normal;
  margin-top: 410px;
  /* regla para Mobile Styles */ }
  #chat:hover {
    transform: scale(1.2);
    transition: ease all 100ms; }
  @media only screen and (max-width: 400px) {
    #chat {
      position: fixed;
      padding: 6px;
      margin-top: 300px; }
      #chat:hover {
        transform: scale(1.1);
        transition: ease all 100ms; } }

section {
  display: block;
  padding: 40px;
  width: calc(100%-80px); }

.tips-viaje {
  margin-bottom: 30px !important;
  padding-bottom: 40px !important; }

article {
  margin-left: 5px;
  display: inline-block;
  width: 100%; }

.title-tip {
  padding-left: 5px;
  text-align: left;
  width: 100%; }

.article-playa {
  display: flex;
  flex-direction: row;
  padding-left: 10px; }
  @media only screen and (max-width: 400px) {
    .article-playa {
      flex-direction: column; } }

#tips1 {
  width: 100%;
  margin: auto;
  padding-left: 5px;
  padding-right: 10px; }
  #tips1 ul {
    padding-left: 15px;
    width: 50%;
    float: left;
    line-height: 30px; }
    #tips1 ul li {
      list-style-type: square !important;
      padding-left: 15px; }

.img-playa {
  height: 250px; }
  @media only screen and (max-width: 400px) {
    .img-playa {
      width: 100%;
      object-fit: cover; } }

#tips2 {
  width: 100%;
  margin: auto;
  padding-left: 5px;
  padding-right: 10px; }
  #tips2 ul {
    padding-left: 15px;
    width: 50%;
    float: left;
    line-height: 30px; }
    #tips2 ul li {
      list-style-type: square !important;
      padding-left: 15px; }

#tips3 {
  width: 100%;
  margin: auto;
  padding-left: 5px;
  padding-right: 10px; }
  #tips3 ul {
    padding-left: 15px;
    width: 50%;
    float: left;
    line-height: 30px; }
    #tips3 ul li {
      list-style-type: square !important;
      padding-left: 15px; }

.discografia-fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  @media only screen and (max-width: 400px) {
    .discografia-fotos {
      text-align: center !important; } }

.img-tapa {
  width: 90%;
  padding-top: 10px;
  text-align: center;
  margin: 0;
  height: 250px;
  width: 250px; }
  @media only screen and (max-width: 400px) {
    .img-tapa {
      margin: auto !important; } }

.carousel-tour {
  height: 200px;
  width: 60%;
  text-align: center; }
  @media only screen and (max-width: 400px) {
    .carousel-tour {
      width: 100%; } }

.banner-album {
  background-image: url("../banner-album.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 450px;
  width: 100%; }
  @media only screen and (max-width: 400px) {
    .banner-album {
      min-height: 400px; } }

.carousel-album {
  height: 250px;
  width: 25%;
  padding-bottom: 30px;
  margin-bottom: 40px;
  padding-right: 10px;
  border-radius: 20px;
  overflow: hidden; }
  @media only screen and (max-width: 400px) {
    .carousel-album {
      height: 250px;
      width: 100%;
      padding-bottom: 15px;
      margin-bottom: 0 !important;
      border-radius: 20px;
      overflow: hidden; } }

.form-album {
  padding-left: 15px;
  padding-bottom: 20px; }
  @media only screen and (max-width: 400px) {
    .form-album {
      padding-top: 20px; } }

.form-contacto {
  padding-left: 15px;
  padding-bottom: 20px; }

.contenedor-modificado {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 300px;
  margin-left: 0; }

.foto-contacto {
  padding-top: 60px; }

.arroba {
  margin-right: -50px; }
  @media only screen and (max-width: 400px) {
    .arroba {
      margin-right: 53px;
      padding-left: 0 !important; } }

.provincia {
  padding-top: 0 !important; }

.campo {
  padding-bottom: 10px; }

.form-tittle {
  display: inline-block;
  padding-bottom: 15px; }

.item1 {
  flex: 1 1 20%; }
  .item1 img:last-child {
    display: none; }
  .item1:hover img:last-child {
    display: block; }
  .item1:hover img:first-child {
    display: none; }

.item2 {
  flex: 1 1 20%; }

.item3 {
  flex: 1 1 20%; }

.item4 {
  flex: 1 1 20%; }

.video {
  width: 80%; }

.btn-primary {
  margin-right: 15px !important; }

.banner-tour {
  height: 380px;
  width: 100%;
  padding-left: 43px;
  padding-right: 43px;
  padding-top: 30px; }
  @media only screen and (max-width: 400px) {
    .banner-tour {
      padding-left: 0;
      padding-right: 0;
      height: 250px;
      width: 100%; } }

.tours-sitio {
  text-align: center;
  display: inline-block; }

.tour1 {
  width: 50%;
  float: left; }
  .tour1 .tour:hover {
    transform: scale(1.2, 1);
    transition: ease all 100ms; }
    @media only screen and (max-width: 400px) {
      .tour1 .tour:hover {
        transform: scale(1.1, 1.1);
        transition: ease all 100ms; } }

.tour2 {
  width: 50%;
  float: right; }
  .tour2 .tour:hover {
    transform: scale(1.2, 1);
    transition: ease all 100ms; }
    @media only screen and (max-width: 400px) {
      .tour2 .tour:hover {
        transform: scale(1.1, 1.1);
        transition: ease all 100ms; } }

.img-tour {
  padding-top: 10px;
  text-align: center;
  margin: 0;
  height: 200px;
  width: 70%;
  padding-bottom: 15px; }
  @media only screen and (max-width: 400px) {
    .img-tour {
      height: 160px;
      width: 100%; } }

.form-columns {
  padding-top: 30px; }

.contacto-titulo {
  line-height: 30px;
  padding-bottom: 20px;
  padding-left: 15px; }

.input-group-prepend {
  padding-left: 8px; }

.form-row {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 20px; }

.form-group {
  padding: 15px; }

.mensaje-contacto {
  height: 200px;
  width: 70%; }
  @media only screen and (max-width: 400px) {
    .mensaje-contacto {
      height: 200px;
      width: 100%; } }

.contact {
  margin-left: 15px; }

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-top: 50px;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  @media only screen and (max-width: 400px) {
    footer {
      padding-left: 0; } }
  footer .footer-izq {
    flex-basis: 50%;
    text-align: left;
    padding-left: 15px; }
    footer .footer-izq .footer-copyright {
      padding-bottom: 5px; }
  footer .footer-der {
    flex-basis: 50%;
    text-align: right;
    padding-right: 15px; }
    footer .footer-der .footer-contact {
      padding-bottom: 5px; }
