@mixin sizes($width,$height)
{
height:$height;
width: $width;
}

$color-fondo: #E0E0E0;
$color-identity: #0072BF;
$font-identity: 'roboto', sans-serif;

// Modules and Variables
@import "color";
@import "fonts";
// 

body
{
	width:100%;
	display:block;
	margin:0;
}


header
{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	background: white;
	border-bottom:solid 1px #CCD3CB;
	margin-top:10px;
}

#redes-sociales
{
	text-align: right;
	order:3;	
	flex-basis:25%;
	@media only screen and (max-width: 400px)
	{
		order:2;
		flex-basis:100%;
		text-align: right;
	}
}

#redes
{
	float:right;
	display:flex;
	padding-top:25px;
	margin:0;

/* regla para Mobile Styles */
	@media only screen and (max-width: 400px)
	{
		padding-top:0 !important;
	}
}

.navbar-expand-lg
{
	padding-top:15px;
 
}


.iconguitar
{
	height: 80px;
	width: 80px;
	padding-left:5px;
	padding-top:2px !important;
}

.nav-link
{
	text-underline-position: none;
	padding:8px !important;
	width:100% !important;
}


.busqueda
{
	order:2;
	flex-basis:35%;
	@media only screen and (max-width: 400px)
	{
		flex-basis:100%;
		order:3;
	}
}

.form-inline 
{
	display:block;
	padding:6px;
	margin-top:50px;
	text-align:center;
	float:left;
	width:100% !important;


	/* regla para Mobile Styles */
	@media only screen and (max-width: 400px)
	{
		margin-top:0;
		padding-bottom: 10px;
	}

}

.form-control
{
	padding:10px 50px;
	 width: auto; // Prevent labels from stacking above inputs in `.form-group`
	display: inline-block;
    vertical-align: middle;
    width:70% !important;

@media only screen and (max-width: 400px)
	{
		width:8
		0% !important;
		z-index: 2;
		padding:2px;
	}

}


.menu-pink
{
	padding-top:36px;

/* regla para Mobile Styles */
	@media only screen and (max-width: 400px)
	{
		padding-top:0;
		width:100%;
	}

}

.banner-home
{
	background-image: url('../jack-johnson-new-song-86739d85-1f17-4127-a162-0cd6d037a975.jpg');
	 background-repeat:no-repeat;
	  background-size:cover;background-position: justify;
	   min-height: 600px; width:100%;

	   .quote{
	   	
	   	padding-left: 255px !important;
	   	padding-top: 20px !important;
	   }

	   @media only screen and (max-width: 400px)
		{ 
		background-image: url('../jack-johnson-new-song-86739d85-1f17-4127-a162-0cd6d037a975.jpg');
	 	background-repeat:no-repeat;
	 	min-height:40px !important;
		}

}

.frase1{
	word-spacing:6px !important;
}

.frase2{
	padding-left:13px;
}

h1
{
	padding-left:30px !important;
	margin:auto !important;
	padding-top:80px !important;
	line-height: 30px;

	@media only screen and (max-width: 400px)
		{
			padding-top:30px !important;
			padding-left:20px !important;
		}
}



.dropdown-hover

{
	&:hover{
		.submenu{
			display: block;
		}
	}

}

.menu-col
{
/* regla para Mobile Styles */
	@media only screen and (max-width: 400px)
	{
		justify-content: space-around;
		flex-basis:100%;
	}
}


#titulo
{

	text-align:left;
}


video
{
	&.jj{
		&.mp4{

			height:100% ;
			margin:auto;
			}
		}
}


.fa-facebook-square
{
	float:left;
	padding: 5px;

	&:hover {
		transform: scale(1.05,1.05);
		transition: ease all 100ms;
		
	}


	/* regla para Mobile Styles */

	@media only screen and (max-width: 400px)
	{
	}

}




.fa-twitter
{
	float:left;
	padding: 5px;

	&:hover{
		transform: scale(1.05,1.05);
		transition: ease all 100ms;
		background:white;
	}

	/* regla para Mobile Styles */
	@media only screen and (max-width: 400px)
	{
		padding: 8px;
	}

}



.fa-spotify
{
	float:left;
	padding: 5px;

	&:hover {
		transform: scale(1.05,1.05);
		transition: ease all 100ms;
	}


	/* regla para Mobile Styles */

	@media only screen and (max-width: 400px)
	{	
		padding: 8px;
	}

}




.fa-instagram
{
	padding: 5px;
	float:left;

	&:hover {
		transform: scale(1.05,1.05);
		transition: ease all 100ms;
	}


	/* regla para Mobile Styles */

	@media only screen and (max-width: 400px)
	{
		padding: 8px;
	}

}


a
{
	text-decoration:none;
}


li
{
	list-style: none;
}



h3
{
	padding-left:15px !important;
	flex-basis: 50%;
	order:1;
	margin:0 !important;
	display:inline-block;
}

.titulos{
		border-bottom: solid 2px gray;
		padding-bottom: 10px;
		margin-bottom: 40px;
		margin-top: 60px;
}

#ver
{
	text-decoration:underline;
	padding-bottom: 10px !important;
	flex-basis: 50%;
	order:2;
	float:right;
	padding-top: 5px;
}

h4
{
	line-height:20px;
	letter-spacing:3px;
}


#jj
{ 
	padding:5px;
	width: auto;
}

#formulario
{
	border: 1px solid gray;
	margin:auto;
	padding-top:10px;
	margin-top:100px;
}

.formulario-borde
{
	width:auto;
}

.formulario-mail
{
	width:auto !important;
	z-index: 3;
}

.form-mail
{
	display:inline-block;
	float:left;
	margin-right:50px;
}


.para1
{ 
	float:left;
	padding:4px;
}


#chat
{
	position:fixed;
	right:15px;
	padding:5px;
	background:#43C554;
	border-radius:100px;
	padding:8px;
	padding-bottom: 3px;
	z-index: 999;
	line-height:normal;
	margin-top:410px;

	&:hover{
		transform: scale(1.2);
		transition: ease all 100ms;
	}


	/* regla para Mobile Styles */
	@media only screen and (max-width: 400px)
	{
		position:fixed;
		padding:6px;
		margin-top:300px;

		&:hover{
		transform: scale(1.1);
		transition: ease all 100ms;
		}
	}

}



section
{
	display:block;
	padding:40px;
	width: calc(100%-80px);
}

.tips-viaje{
	margin-bottom: 30px !important;
	padding-bottom: 40px !important;
}

article
{
	margin-left:5px;
	display:inline-block;
	width: 100%;
}

.title-tip
{
	padding-left:5px;
	text-align:left;
	width:100%;
}	

.article-playa{
	display:flex;
	flex-direction: row;
	padding-left:10px;

@media only screen and (max-width: 400px)
	{
		flex-direction: column;
	}
}

#tips1
{
	width: 100%;
	margin:auto;
	padding-left:5px;
	padding-right: 10px;

	ul{
		padding-left:15px;
		width:50%;
		float:left;
		line-height: 30px;

		li{
		list-style-type: square !important;
		padding-left:15px;
		}

	}
}


.img-playa
{

	height: 250px;
	@media only screen and (max-width: 400px)
	{
		width:100%;
		object-fit: cover;
	}
}

#tips2
{
		width: 100%;
	margin:auto;
	padding-left:5px;
	padding-right: 10px;


	ul{
		padding-left:15px;
		width:50%;
		float:left;
		line-height: 30px;

		li{
		list-style-type: square !important;
		padding-left:15px;
		}
	}
}


#tips3
{
	width: 100%;
	margin:auto;
	padding-left:5px;
	padding-right: 10px;
	
	ul{
		padding-left:15px;
		width:50%;
		float:left;
		line-height: 30px;

		li{
		list-style-type: square !important;
		padding-left:15px;
		}
	}
}


.discografia-fotos
{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	@media only screen and (max-width: 400px)
		{ 
			text-align: center !important;
		}
}



.img-tapa
{
	width:90%;
	padding-top:10px;
	text-align:center;
	margin:0;
	@include sizes(250px, 250px)

	@media only screen and (max-width: 400px)
			{ 
				margin:auto !important;
			}
					
}


.carousel-tour
	{
	@include sizes(60%, 200px)
	text-align: center;
	@media only screen and (max-width: 400px)
			{ width:100%;
			}
}

.banner-album
{
	background-image: url('../banner-album.jpg');
	background-repeat:no-repeat;
	background-size:cover;background-position: top;
	min-height: 450px; width:100%;
	@media only screen and (max-width: 400px)
	{
		min-height: 400px;
	}

}


.carousel-album
{
	@include sizes(25%, 250px)
	padding-bottom:30px;
	margin-bottom: 40px;
	padding-right: 10px;
	border-radius: 20px;
		overflow: hidden;
	@media only screen and (max-width: 400px)
	{
		@include sizes(100%, 250px)
		padding-bottom: 15px;
		margin-bottom: 0 !important;
		border-radius: 20px;
		overflow: hidden;
	}
}


.form-album
{
	padding-left: 15px;
	padding-bottom: 20px;
	@media only screen and (max-width: 400px)
	{
		padding-top:20px;
	}	
}

.form-contacto
{
	padding-left: 15px;
	padding-bottom: 20px;
}

.form-tittle{
	display:inline-block;
	padding-bottom: 15px;
}

.item1 {
	flex:1 1 20%;
 	
 	img:last-child
 	{
   		display: none;
 	}
 	
 	&:hover img {
   					&:last-child 
   					{
     				display: block;

   					}
   					&:first-child 
   					{
     				display: none;
   					}

				 }
}


.item2
{
	flex:1 1 20%;	

}

.item3
{
	flex:1 1 20%;	
}

.item4
{
	flex:1 1 20%;	
}


.video
{
	width:80%;
}


.btn-primary{
	margin-right:15px !important;
}

.banner-tour
{
	@include sizes(100%, 380px)
	padding-left:43px;
	padding-right:43px;
	padding-top:30px;
	@media only screen and (max-width: 400px)
	{
		padding-left:0;
		padding-right:0;
		@include sizes(100%, 250px)
	}
}



.tours-sitio
{
	text-align:center;
	display:inline-block;
}

.tour1{
	width:50%;
	float:left;


	.tour
		{
			&:hover {
				transform: scale(1.2,1);
				transition: ease all 100ms;
				@media only screen and (max-width: 400px)
				{
					transform: scale(1.1,1.1);
					transition: ease all 100ms;
				}
			}
		}
}

.tour2
{
	width:50%;
	float:right;


	.tour
		{
			&:hover {
				transform: scale(1.2,1);
				transition: ease all 100ms;
				@media only screen and (max-width: 400px)
				{
					transform: scale(1.1,1.1);
					transition: ease all 100ms;
				}
			}
		}
}



		
.img-tour
{
	padding-top:10px;
	text-align:center;
	margin:0;
	@include sizes(70%, 200px)
	padding-bottom: 15px;

	@media only screen and (max-width: 400px)
	{
		@include sizes(100%, 160px)

	}
}


.form-columns
{
	padding-top:30px;
}

.contacto-titulo
{
	line-height: 30px;
	padding-bottom: 20px;
	padding-left:15px;

}

.input-group-prepend
{
	padding-left:8px;
}

.form-row
{
	padding-top:20px;
	padding-left:15px;
	padding-right:20px;
}

.form-group
{
	padding:15px;
}

.mensaje-contacto
{
	@include sizes(70%, 200px)

	@media only screen and (max-width: 400px)
				{
					@include sizes(100%, 200px)
				}
}


.contact{
	margin-left:15px;
	}


footer
{
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left:10px;
	margin-top:50px;
	background: white;
	display:flex; 
	flex-direction:row;
	flex-wrap:wrap;

	@media only screen and (max-width: 400px)
			{
				padding-left:0; 
			}

	.footer-izq{
		flex-basis:50%;
		text-align:left;
		padding-left:15px;

		.footer-copyright{padding-bottom: 5px}

	}

	.footer-der{
		flex-basis:50%;
		text-align:right;
		padding-right:15px;

		.footer-contact{padding-bottom: 5px}
}
}
