@mixin sizes($width,$height,$margin)
{
height:$height;
width: calc($width - $margin);
}


body
{
	background-color:#EADCA4;
	width:100%;
	display:block;
	margin:0;
}



header
{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	background: white;
	border-bottom:solid 2px gray;
	margin-top:40px;
}

#title-jj
{
	flex: 1 1 50%;
	text-align: left

}

#redes-sociales
{
	flex: 1 1 10%;
	text-align: right;
}


#menu-col
{
	flex: 1 1 100%;
}


#redes
{
	float:right;
	display:flex;
	padding-top:10px;
	padding-right:15px;
	margin:0;
}


#menu-prin
{	
	display:block;
	padding-bottom:45px;
	padding-left:5px;
	margin:auto;
	margin-left:5px;
	margin-right:20px;
	font-family:sans-serif;

	@media only screen and (max-width: 400px)
	{
		padding-bottom:25px;
	}
}


#menu-prin
{	
	a{
		color:black;
	}
}


#menu-prin
{
	li{
		float:left;
		position:relative;
		color:black;

	&:hover{
		color:white;
		}
	}
}


#menu-prin
{
	li{

		ul{
			display:none;
			position:absolute;
			left:0;
			padding:10px;



			/* regla para Mobile Styles */
			@media only screen and (max-width: 400px)
			{
				padding:1px;
			}


			@media only screen and (max-width: 400px)
			{
				width:calc(100% - 25px);
				position:relative;
				float:left;
			}
		}

		&:hover{
				background:#3BB2F4;
				color:white;

			ul{
				margin-top: 5px;
				display:flex;
				flex-wrap:wrap;
				flex-direction:column;
				left:0;
				background:#3BB2F4;
				padding:60px;
				color:white;
			}
		 }
	}

	li{
	 	ul{	
	 		li{
				margin:auto;
				padding:0;
				padding-left:1px;

			}
		}


	}
}


.menu
{ 
	font-family:sans-serif; 
	padding:20px;
	text-align: left;
	padding-right: 20px;
    padding-left: 15px;


	/* regla para Mobile Styles */

	@media only screen and (max-width: 400px)
	{
		padding:10px;
	}

}


.sub
{
	margin:0;
	padding:0;
	list-style:none;

	li{
		margin:0;
		padding:0;
		padding-top:10px;
	}
}


#titulo
{
	text-align:left;
}


video
{
	&.jj{
		&.mp4{

			height:100% ;
			margin:auto;
			}
		}
}


.fa-facebook-square
{
	font-size:40px;
	color: blue;
	float:left;
	padding: 8px;

	&:hover {
		transform: scale(1.05,1.05);
		transition: ease all 100ms;
		background:white;
	}


	/* regla para Mobile Styles */

	@media only screen and (max-width: 400px)
	{
		font-size:30px;
	}

}




.fa-twitter
{
	font-size:40px;
	color:#00A4CC;
	float:left;
	padding: 8px;

	&:hover{
		transform: scale(1.05,1.05);
		transition: ease all 100ms;
		background:white;
	}

	/* regla para Mobile Styles */
	@media only screen and (max-width: 400px)
	{
		font-size:30px;
		padding: 8px;
	}

}



.fa-spotify
{
	font-size:40px;
	color:#9ACC2F;
	float:left;
	padding: 10px;

	&:hover {
		transform: scale(1.05,1.05);
		transition: ease all 100ms;
		background:white;
	}


	/* regla para Mobile Styles */

	@media only screen and (max-width: 400px)
	{	
		font-size:30px;
		padding: 8px;
	}

}




.fa-instagram
{
	font-size:40px;
	color: #CA2267;
	padding: 10px;
	float:left;

	&:hover {
		transform: scale(1.05,1.05);
		transition: ease all 100ms;
		background:white;
	}


	/* regla para Mobile Styles */

	@media only screen and (max-width: 400px)
	{
		font-size:30px;
		padding: 8px;
	}

}


a
{
	text-decoration:none;
}


li
{
	list-style: none;
}

h1
{
	color:#0072BF;
	font-family:sans-serif;
	line-height:20px;
	letter-spacing:3px;
	padding:15px;
	padding-top:20px;

	/* regla para Mobile Styles */
	@media only screen and (max-width: 400px)
	{
		font-size:30px;
		padding:20px;
		padding-top:30px;
		margin:0;
	}

	/* regla para Tablet Styles */
	@media only screen and (min-width: 401px)
	{
		font-size:30px;
	}

	
	/* regla para Screen Styles */
	@media only screen and (min-width: 961px)
	{
		font-size:30px;
	}

}


h3
{
	border-bottom: solid 2px gray;
	padding-left:10px;
	color: #0072BF;
	padding-bottom: 10px;
}


h4
{
	color:#0072BF;
	font-family:sans-serif;
	line-height:20px;
	letter-spacing:3px;
	font-size:20px
}


#jj
{
	color: red; 
	font-size:20px;
	padding:5px;
	width: auto;
}

#formulario
{
	border: 1px solid gray;

	margin:auto;
	padding-top:10px;
	margin-top:150px;
	font-size: 15px;
}

.formulario-borde
{
	width:auto;
}

.formulario-mail
{
	width:auto;
}

.form-mail
{
	display:inline-block;
	float:left;
	margin-right:50px;
}

.reset
{
	font-size: 11px;
}
.submit
{
	font-size:11px;
}

.para1
{ 
	font-weight:bold;
	float:left;
	padding:4px;
}


#chat
{
	position:fixed;
	right:15px;
	padding:5px;
	color:white;
	background:#43C554;
	border-radius:100px;
	padding:8px;
	padding-bottom: 3px;
	z-index: 999;
	font-size:25px;
	line-height:normal;

	&:hover{
		transform: scale(1.2);
		transition: ease all 100ms;
	}


	/* regla para Mobile Styles */
	@media only screen and (max-width: 400px)
	{
		position:fixed;
		top:220px;
		font-size:15px;
		display:grid;  
   		grid-template-columns: 10px 10px;
   		grid-template-rows: 30px 100px;
   		text-align:center;
   		padding:none;
	}

}


#origen
{
	color:gray; font-size:15px;
}

#ver
{
	color: red;
	text-decoration:underline;
	font-weight: bold;
	flex: 1 1 20%;
	text-align: right;
	padding-right:15px;

}


section
{
	display:block;
	padding:40px;
	width: calc(100%-80px);
}

article
{
	margin-left:5px;
	display:inline-block;
}

.title-tip1
{
	background-color:#82A9BC;
	padding-left:5px;
	text-align:justify;
}	

.title-tip2
{
	background-color:#82A9BC;
	padding-left:5px;
	text-align:justify;
}	

.title-tip3
{
	background-color:#82A9BC;
	padding-left:5px;
	text-align:justify;
}	


#tips1
{
	width: calc(33.333%-3px);
	float:left;
	border-right:dotted 3px #0070A8;
	margin:auto;
	padding-left:5px;
	padding-right: 10px;
}


#tips2
{
	width: calc(33.333%-3px);
	float:left;
	border-right:dotted 3px #0070A8;
	margin:auto;
	padding-left:5px;
	padding-right: 10px;
}

#tips3
{
	width: calc(33.333%-3px);
	float:left;
	margin:auto;
	padding-left:5px;
	padding-right: 10px;
}


.discografia-fotos
{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
}



.img-tapa
{
	width:90%;
	padding-top:10px;
	text-align:center;
	margin:0;
	height: 280px;
	width: 210px;
	
}

.carousel-album
	{
	padding-top: 40px;
	height: 300px;
	width: 30%;
	text-align: center;
	}

.carousel-control-next-icon
{ 
	color:red;
}


.item1
{
	flex:1 1 20%;	
}


.item2
{
	flex:1 1 20%;	
}

.item3
{
	flex:1 1 20%;	
}

.item4
{
	flex:1 1 20%;	
}


.video
{
	width:30%;
}


footer
{
	padding-top: 40px;
	padding-bottom: 20px;
	padding-left:10px;
	margin-top:50px;
	margin-bottom: 40px;
	background: white;
	display:flex; 
	flex-direction:row;
	flex-wrap:wrap;

	#footer-copyright {
		flex: 1 1 10%;
		text-align:left;
		display:inline-block;

	}

	#politicas {
		text-align:left;
		float:left;

	}
		#footer-url {
		font-size:15px;
		text-align:right;
		padding-right:15px;
		float:right;

		}


}
